---
import Bounded from "@/components/Bounded.astro";
import CalendarIcon from "@/components/icons/CalendarIcon.astro";
import BargraphIcon from "@/components/icons/BargraphIcon.astro";
import CloverIcon from "@/components/icons/CloverIcon.astro";
import HourglassIcon from "@/components/icons/HourglassIcon.astro";
import PrismicHtml from "@/components/PrismicHtml.astro";

const { primary, items } = Astro.props;

const components = {
  heading2: ({ children }) =>
    `<h2 class="font-bold leading-tight tracking-light font-display text-slate-700 md:mb-8 text-3xl md:text-4xl text-center mb-12" >${children}</h2>`,
  heading3: ({ children }) =>
    `<h3 class="leading-tight tracking-light font-display text-slate-700 text-2xl md:text-3xl sm:text-left text-center mb-3 font-medium">${children}</h3>`,
  paragraph: ({ children }) =>
  `<p class="font-medium font-body text-base text-slate-600 sm:text-left text-center">
      ${children}
    </p>`,
};




const Icon = (item) => {
  switch (item) {
    case "calendar": {
      return CalendarIcon;
    }
    case "bargraph": {
      return BargraphIcon;
    }
    case "clover": {
      return CloverIcon;
    }
    case "hourglass": {
      return HourglassIcon;
    }
  }
};
---

<Bounded>
  <PrismicHtml field={primary.heading} components={components} />
  <div
    class="grid sm:grid-cols-2 lg:grid-cols-4 max-w-5xl gap-x-8 gap-y-12 mx-auto sm:place-items-start place-items-center"
  >
    {
      items.map((item) => (
        <div
          class="max-w-xs grid sm:place-items-start place-items-center"
        >
          <>{item.icon && <div class="mb-5">{<Icon(item.icon) />}</div>}</>
          <PrismicHtml field={item.title} components={components} />
          <PrismicHtml field={item.description} components={components} />
        </div>
      ))
    }
  </div>
</Bounded>
