---
import Bounded from "@/components/Bounded.astro";
import Button from "@/components/Button.astro";
import PrismicHtml from "@/components/PrismicHtml.astro";
import PrismicImage from "@/components/PrismicImage.astro";
import clsx from "clsx";

const { primary } = Astro.props;

const components = {
  heading2: ({ children }) =>
    `<h2 class="text-4xl md:text-5xl font-bold leading-tight tracking-light font-display text-slate-700">${children}</h2>`,
  paragraph: ({ children }) =>
    `<p class="max-w-md text-lg font-body text-slate-600">
      ${children}
    </p>`,
};
---

<Bounded as="section">
  <div class="grid gap-8 md:grid-cols-2 place-items-center">
    <PrismicImage
      content={primary.image}
      className={clsx(
        "rounded-lg",
        primary.variant === "imageRight" && "md:order-2"
      )}
    />
    <div class="grid gap-4">
      <PrismicHtml field={primary.heading} components={components} />
      <PrismicHtml field={primary.body1} components={components} />
    </div>
  </div>
</Bounded>
